<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="col-md-12">
    
    <%= form_for(@recipe, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control",
          placeholder: "Type the steps and description for your recipe", 
          rows: 15 
        %>
      </div>

      <div class="form-check">
        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
          <%= cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
        <% end %>
      </div>

      <div class="row">
        <div class="form-group col order-first">
          <%= f.submit "Submit", class: "btn btn-secondary btn-color" %>
        </div>
        
        <div class="col order-last color-link text-right">
          <%= link_to "Cancel", recipes_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>

