<%= render "shared/page_title", title: "Listing all recipes" %>

<% @recipes.each do |recipe| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        
        <div class="col-md-3 text-center">
          <%= link_to gravatar_for(recipe.user, size: 120), user_path(recipe.user) %>
        </div>

        <div class="col-md-9">
          <h5 class="card-title color-link"><%= link_to recipe.name, recipe_path(recipe) %></h5>
          <p class="card-text"><%= truncate(recipe.description, length: 150) %></p>
          <p class="card-text">
            <small class="text-muted">
              <em>
                Created <%= time_ago_in_words(recipe.created_at) %> ago 
                by <b><%= recipe.user.name.capitalize %></b>
              </em>
            </small>
          </p>
        </div>
      </div>

      <div class="row offset-md-3">
        <% if logged_in? && (current_user == recipe.user || current_user.admin?) %>
          <div class="col-md-4 recipe-actions">
            <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-outline-secondary" %>
            <%= link_to "Delete", recipe_path(recipe), method: :delete, 
              data: { Confirm: "Are you sure you want to delete this recipe?" },
              class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/pagination", obj: @recipes %>
