<%= render "shared/page_title", title: "Listing all recipes" %>

<% @recipes.each do |recipe| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        
        <div class="col-md-2">
          <%= gravatar_for(recipe.user, size: 120) %>
        </div>

        <div class="col-md-10">
          <h5 class="card-title color-link"><%= link_to recipe.name, recipe_path(recipe) %></h5>
          <p class="card-text"><%= truncate(recipe.description, length: 150) %></p>
          <p class="card-text">
            <small class="text-muted">
              <em>
                Created <%= time_ago_in_words(recipe.created_at) %> ago
              </em>
            </small>
          </p>
        </div>

      </div>
    </div>
  </div>
<% end %>

<%= render "shared/pagination", obj: @recipes %>
