<%= render "shared/page_title", title: "All Users" %>

<% @users.each do |user| %>
  <div class="card col-md-8 offset-md-2">
    <div class="card-body">
      <div class="row">
        
        <div class="col-sm-6 text-center">
          <%= link_to gravatar_for(user, size: 120), user_path(user) %>
        </div>

        <div class="col-sm-6 text-center">
          <h2 class="card-title color-link"><%= link_to user.name, user_path(user) %></h2>

          <h4 class="card-title">
            <small class="text-muted"><%= pluralize(user.recipes.count, "recipe") if user.recipes %></small>      
          </h4>
          <div class="color-link">
            <%= link_to "Delete user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user and all assiciated recipes?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/pagination", obj: @users %>
