<div class="card col-md-8 offset-md-2">
  <%= render 'shared/errors', obj: @user %>

  <h1 class="card-header bg-transparent text-center">
      Sign up
  </h1>
  
  <div class="card-body">
     <div class="row">
      <div class="col-md-12">
        
        <%= form_for(@user, :html => { class: "form-horizontal", role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", placeholder: "Enter a name", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control",
              placeholder: "Enter an email e.g: john@example.com"
            %>
          </div>
          
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control",
              placeholder: "Enter a password"
            %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm password" %>
            <%= f.password_field :password_confirmation, class: "form-control",
              placeholder: "Confirm the password"
            %>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <%= f.submit "Create my account", class: "btn btn-secondary btn-color" %>
              </div>
            </div>
            
            <div class="col-sm-10 text-right color-link">
              <div>
                <%= link_to "Cancel", recipes_path %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>