<div class="navigation-bar"> 
  <nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to 'Cooking and Sharing', root_path, class: 'navbar-brand', id: 'logo' %>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= "Hi #{current_user.name.capitalize}" %>
              <%= "Admin" if current_user.admin? %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "See all recipes", recipes_path, class: "dropdown-item" %>
              <%= link_to "Create a recipe", new_recipe_path, class: "dropdown-item" %>
              
              <div class="dropdown-divider"></div>
              <%= link_to "See all ingredients", ingredients_path, class: "dropdown-item" %>
              
              <% if logged_in? && current_user.admin? %>
                <%= link_to "Create an ingredient", new_ingredient_path, class: "dropdown-item" %>
              <% end %>

              <div class="dropdown-divider"></div>
              <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ingredients", ingredients_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Chat", chat_path, class: "nav-link" %>
        </li>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" style="margin-right: 15px;" type="submit">Search</button>
      </form> -->
      
      <div>
        <% unless logged_in? %>
          <%= link_to "Log in", login_path, class: "btn btn-outline-light" %>
        <% else %>
          <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-outline-light" %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
